// Component imports.
// =====================================================
@import "social-icons.variables";
@import "social-icons.functions";
@import "social-icons.mixins";

// =====================================================
// Component styles.
// =====================================================

%social-links {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: {
      bottom: 5px;
      top: 5px;
    }
  }
}

/**
 * SOCIAL ICONS.
 */
[class*="social-links"] {
  @extend %social-links;

  a {
    display: inline-block;
    height: social-icon-height(facebook);
    line-height: social-icon-height(facebook);
    padding-left: social-icon-width(facebook) + 15px;
  }

  a[href*="facebook"]    {@include social-icon('facebook');}
  a[href*="twitter"]     {@include social-icon('twitter');}
  a[href*="plus.google"] {@include social-icon('google-plus');}
}

/**
 * SOCIAL ICONS - NONRETINA.
 */
.social-links--nonretina {
  a[href*="facebook"]    {@include social-icon-nonretina('facebook');}
  a[href*="twitter"]     {@include social-icon-nonretina('twitter');}
  a[href*="plus.google"] {@include social-icon-nonretina('google-plus');}
}

.social-links--offset-y {
  a[href*="twitter"]     {@include social-icon('twitter', $options: (offset-y: 10px));}
}
