// Component imports.
// =====================================================
@import "social-icons.variables";
@import "social-icons.functions";
@import "social-icons.mixins";

// =====================================================
// Component styles.
// =====================================================

.social-links {
  li {
    padding: {
      bottom: 5px;
      top: 5px;
    }
  }

  a {
    display: inline-block;
    height: social-icon-height(facebook);
    line-height: social-icon-height(facebook);
    padding-left: social-icon-width(facebook) + 15px;
  }

  a[href*="facebook"]    {@include social-icon('facebook');}
  a[href*="twitter"]     {@include social-icon('twitter', $options: (offset-y: 10px));}
  //  a[href*="twitter"]     {@include social-icon('twitter');}
  a[href*="plus.google"] {@include social-icon('google-plus');}
}
